
<%= link_to "Create List", new_list_path, class: 'btn btn-primary' %>

<div class="lists">
  <h2>My lists</h2>
  <% @lists.each do |list| %>
  <p>
    <%= link_to list.list_date, list_path(list) %>
  </p>
  <% end %>
</div>
