<div class="page-header">
  <h1>List Show</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/lists">All Lists</a></li>
  <li class="active">List</li>
</ol>



<div class="row">
  <ul>
    <% @list.items.each do |list_item| %>
    <li>
      <%= list_item.quantity %>
      <%= list_item.description %>
    </li>
    <% end %>
  </ul>

</div>

<%= link_to 'Email List', new_list_email_path(@list) %>
