<% @list.items.each do |item| %>
<div data-item-url="<%= item_path(item) %>">
  <p>
    <%= item.quantity %>
    <%= item.description %>
  </p>
  <button type="button" name="button" class="got-it">Got</button>
  <button type="button" name="button" class="skip-it">Skip It</button>
</div>

<% end  %>
