<div class="welcome-container">
  <div class="welcome">
    <h1>Welcome to <span class="list-it">List It</span>! </h1>

    <p class="intro"><span class="list-it">List It</span> allows you to quickly and easily make grocery lists. Search for recipes or create your own!
      Make a new list now!
    </p>
    <p class="get-started">
      <a href="#">Get Started <span class="glyphicon glyphicon-menu-right"></span></a>
    </p>
  </div>
</div>

<%= render('shared/new_list') %>
