<div class="page-header brand">
  <h1>Welcome to Instalist!</h1>
</div>

<div class="new-list">
  <%= link_to  new_list_path do %>
  <span class="glyphicon glyphicon-plus" aria-hidden=true></span>
  New List
  <% end %>
</div>
