<div class="row col-md-12">

  <% @recipes.each do |recipe| %>
    <div class="col-md-4 col-md-offset-1">
      <a href="#" data-toggle="modal" data-target="#recipe-view" class="all-recipes">
        <div class="recipe-images" data-recipe-id="<%= recipe['id'] %>">

          <%= image_tag(recipe['imageUrlsBySize']["90"])  %>
          <h2 class="recipe-title"><%= recipe['sourceDisplayName'] %></h2>
        </div>
      </a>

    </div>
  <% end %>

</div>

<!-- Modal -->
<div class="modal fade" id="recipe-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View Recipe</h4>
      </div>
      <div class="modal-body">
        <img src="https://lh3.googleusercontent.com/-zh5PT2OHj-Q/UvjuGqtMggI/AAAAAAAADfA/Tuu8Bhtvn60/s0-d/loading.gif" alt="" style="height:250px;"/>
        <div id="recipe_temp" style="display:none;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="use-recipe">Use recipe for list</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    $('.recipe-images').on('click', function(){

      var recipeId = $(this).data('recipe-id');
      var url = '/recipes/'+recipeId;
      getRecipe(url);

    });
  });

  function getRecipe(recipeURL){

      $.getJSON(recipeURL, function(recipe_data){

      $('.modal-body').empty();
      $('.modal-body img').hide();

      var template = HandlebarsTemplates['recipe_fetcher/index'](recipe_data);

      $('.modal-body').append(template);
      $('#recipe_temp').show();

      var ingredients = recipe_data.json.ingredientLines;
      var name = recipe_data.json.name;
      var source = recipe_data.json.source.sourceSiteUrl;
      var recipeTitle = name+" from "+source;

      var recipeImage = recipe_data.json.images[0].hostedLargeUrl;
      console.log(recipeImage);

      $('#use-recipe').on('click', function(){
        $.ajax({
          url: '/lists',
          type: 'POST',
          data: {ingredients: ingredients, recipeTitle: recipeTitle }
        }).done(function(newList){
          var listID = newList.id;
          window.location.href = '/lists/'+listID;
        }).error(function(){
          console.log("error");
        });
      });
    });
  }
</script>
