<h1 class="page-title">Search for recipes</h1>

<div class="recipe-search row">
  <div class="col-md-4 col-md-offset-4" id='home'>
    <form role="search">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Search for a recipe" id='search_field' autofocus>
         </div>
         <div class='text-center'>

           <button type="submit" class="btn btn-primary" id='home_search' data-toggle="modal" data-target="#myModal">Search</button>
         </div>
    </form>
  </div>
</div>


  <script type="text/javascript">
  $(function(){

    $('#home_search').on('click', function(e){
      e.preventDefault();
      var search_params = $('#search_field').val();
      var url = '/recipes/search/'+search_params;
      window.location.href = url;
    });

  });
  </script>
