
.choose-list{
  background-color: rgba(88,88,88,0.8);
}
.new-list-text{
  color:white;
  display:block;
  float:right;
  font-size: 33px;
}

.create-list{
  padding: 45px;
  height: 235px;
  text-align:center;
  color:#EFFFC8;
}

.create-list .svg-image{
  fill:white;
}
.create-list:hover .svg-image{
  fill:turquoise;
}
.create-list:hover .new-list-text{
  color:turquoise;
}

.make-new-list{
  padding: 20px;
  margin: 0px 81% 0 10%;
  float: left;
  color: #81C14B;
  width: 100%;
}
