
.new_list,
.edit_list,
.wtvr{
  background-color: rgba(88,88,88,0.8);
  padding: 3%;
}

.new-list a,
.edit_list a{
  text-decoration: none;
}

.field{
  font-size: 22px;
}

.form-control{
  font-size: 20px;
}
