 .list-show{
  background-color: rgba(88,88,88,0.8);
  color: white;
  text-align:center;
  padding: 3%;
 }


 .list{
   margin-bottom: 50px;
   font-family: 'Maiden Orange', cursive;
   font-size: 40px;
 }

 .quantity{
   font-size: 27px;
 }


 .email-list a{
   color:white;
 }
