//media queries
@media (min-width: 895px) {
  .create-list:hover .new-list-text{
  float:none;
  }
}

@media (max-width: 800px) {
  .user-info{
    background-color: rgba(0,0,0,0.8);
    color: white;
    height: 100%;
    padding: 10% 0 35% 20px;
  }
}
