.recipe-images{
  margin: 0 10px 10px;
  float: left;
  width:100%;
  height:200px;
  position: relative;
  color: white;
}

.recipe-images img {
  width: auto;
  height: 100%;
  vertical-align: top;
  background:rgba(0,0,0,0.6);
  float:right;
}


.recipe-images:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;

    opacity:0.8;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.recipe-images:hover:after {
  opacity: 0;
}



.recipe-title {
   color:#81C14B;
  font-size: 25px;
  float:left;
}


.ingredient-list{
  list-style-type: circle;
  padding: 0 20px;
}


.modal-dialog{
  width:60%;
}

.modal-footer{
  text-align:center;
}
