/*
 *= require jquery-ui
 */

@import 'reset';
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'colors';

@import url(http://fonts.googleapis.com/css?family=Just+Another+Hand|Pompiere|Englebert);

// @import "font-awesome-sprockets";
// @import "font-awesome";

// font-family: 'Just Another Hand', cursive;
// font-family: 'Pompiere', cursive;
// font-family: 'Englebert', sans-serif;
*, *:before, *:after {
  border-sizing: border-box;
}


body{
  margin-top: 100px;
  //background-color: $color1;
  // background-image:
  //   linear-gradient(
  //     rgba(0, 0, 0, 0.5),
  //     rgba(0, 0, 0, 0.5)
  //   ),
  //   url(shoes.jpg);
}


//navbar
.navbar-brand{
  padding: 0;
}
.navbar-brand:hover .svg-image-home-logo{
  fill:green;
}

.brand{
  font-family: 'Englebert', sans-serif;;
  text-align:center;
  white:green;
}

.glyphicon{
  color: green;
  padding: 0 10px;
}


.page-header{
  text-align: center;
}

.btn-primary,
.btn-primary:hover{
  background-color:$color5;
}

.list{
  margin-bottom: 50px;
}
.email-list{
  padding: 10%;
  background-color: green;

  text-align: center;
}

.email-list a{
  color:white;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

//shopping

.all-items{
  overflow: hidden;
  position: relative;
}

.item{
  // position: absolute;
  display:none;
  // width: 300px;
  // right: -700px;
  text-align: center;
  min-height: 90%;
  // margin: 10%;
  border: 2px solid green;
  border-radius: 30px;
  // padding: 15%;
}

.list-review{
  display: none;
}
.list-review ul{
  text-align: left;
}

.item p{
  margin: 0 0 10px;
  padding: 20% 0 50%;
}

.shopping-items{
  text-align:center;
}

#begin-shopping{
  background-color: green;
  color: white;
  padding: 20px;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  margin-top: 40px;
}

.begin-shopping-button{
  margin-top: 40px;
}

.got-it,
.skip-it{
  padding: 20px;
  border: thin solid #d3d3d3;
  border-radius: 5px;
  background-color: white;
}

.glyphicon-remove{
  color: darkred;
}


.thank-you{
  display:none;
  text-align: center;
  padding: 10%;
}

//create new list

.new-list-text{
  display:none;
  color:white;
}
.new-list-text:hover{
  color:white;
  text-decoration: none;

}

.create-list{
  padding: 45px 10px;;
  height: 235px;
  text-align:center;
  border-radius: 10px;
}
.create-list:hover{
  background-color: rgba(0,0,0, 0.8);
  color:white;

}
.create-list:hover .svg-image{
  fill:white;
}
.create-list:hover .new-list-text{
  display:block;
  float:right;
  font-size: 33px;
}

//media queries
@media (min-width: 895px) {
  .create-list:hover .new-list-text{
  float:none;
  }
}



//recipes api
.recipe-images{
  margin: 0 10px 10px;
  float: left;
  width:150px;
  height:150px;
  position: relative;
  color: white;
}

.recipe-images img {
    width:100%;
    vertical-align:top;
}


.recipe-images:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0.8;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.recipe-images:hover:after {
  opacity: 0;
}

.recipe-images:hover .recipe-title{
  transition: all 1s;
  display:none;
}

.recipe-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   color:white;
  font-size: 20px;
}


.ingredient-list{
  list-style-type: circle;
  padding: 0 20px;
}
