<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body stlye="background-color:#d3d3d3;">
    <div style="margin: 0 30px;">
    <h1>Hi <%= @recipient %>,</h1>
    <p>
      Your list has been shopped! Below are the items that were not purchased:
    </p>
    <ul>
      <% @skipped_items.each do |key, item| %>
        <li> <%= item["quantity"] %> <%= item["description"] %> </li>
      <% end %>
    </ul>
    <p>Thanks!</p>

    <p>Love,</p>
    <p>
      Your friends at <h2 style="color:turquoise;">List It</h2>
    </p>
  </div>
  </body>
</html>
